.tip {
    /* ツールチップをデフォルトで非表示 */
    display: none;

    /* 表示調整 */
    position: absolute;
    z-index: 0;
    
    /* 大きさ(適当です) */
    /* 画像サイズが調整済の場合は必要ありません */
    width: 200px;
}

/* これは必要ないと思います */
/* 画面外に移動した時スクロールバーを出さない */
/* body {
    overflow: hidden;
}
 */
