.tip {
    /* ツールチップをデフォルトで非表示 */
    display: none;

    /* 大きさ(適当です) */
    width: 200px;

    /* その他位置調整 */
    position: absolute;
    z-index: 0;
}

/* これは必要ないと思います */
/* 画面外に移動した時スクロールバーを出さない */
/* body {
    overflow: hidden;
}
 */
